* {
  outline: none;
}

.buttoner {
  background-color: white;
  height: 20px;
  width: 20px;
}

#place {
  position: absolute;
  top: 30%;
  float: left;
  display: block;
}

ul {
  list-style: none;
}

#colorControl {
  position: absolute;
  top: 0;
  left: 10%;
  float: left;
}
